//color 
$main : #66BABA;
$secondary : #FFFDF1;
$black: #04030F;
$white: #FFFBFF;

//font 
$font-family : 'Playball';
$fontBody: 'Roboto';

@for $index from 1 through 6 {
    h#{$index} {
       font-family: $font-family;
    }
}

input, button, select, textarea {
    font-family: $fontBody;
    color: $white;    
}

:export {
    main: $main;
    secondary: $secondary;
    black: $black;
    white: $white;
    font-family: $fontHeading;
}