@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital@1&display=swap");
//color
$main: #66baba;
$secondary: #fffdf1;
$black: #04030f;
$white: #fffbff;

//font
$font-family: "Playball";
$fontBody: "Roboto Serif", serif;

@for $index from 1 through 6 {
  h#{$index} {
    font-family: $font-family;
    margin: 0.2em;
  }
}

input,
select,
textarea {
  font-family: $fontBody;
  color: $white;
}

body,
html {
  font-family: $fontBody;
  color: $black;
  line-height: 1.6;
  scroll-behavior: auto;
  margin: 0 !important;
  padding: 0 !important;
}
p {
  color: $black;
  font-size: 1em;
}
a,
Link:hover {
  cursor: pointer;
}
:export {
  main: $main;
  secondary: $secondary;
  black: $black;
  white: $white;
  font-family: $font-family;
}
