@use "../container" as *;
@use "../variables/variable" as *;

.hero-section {
  margin-top: -0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .background {
    img {
      height: 30em;
    }
  }
}

//test pull request
