@use "../container" as *;
@use "../variables" as *;

.reservation-box {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1%;
    display: table;
    position: relative;
    .reservation-header {
        width: 100%;
        h1{
            width: 100%;
        }
    }
    .reservation-text {
        width: auto;
        text-align: center;
        position: relative;
        left: 26em;
        p {
            width: 45%;
            font-size: 1.5em;
            font-family: $font-family;
            .narrow-img {
                height: 25px;
                width: 120px;
                margin-left: 1%;
                margin-bottom: -10px;
            }
            .reservation-line-button {
                color: $black;
                right: 5%;
                font-family: $font-family;
                font-size: 1em;
            }
        }
    }
}