@use "../container" as *;
@use "../variables" as *;

.reservation-box {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1%;
    display: table;
    position: relative;
    padding: 50px;
    .reservation-header {
        width: 100%;
        h1{
            width: 100%;
        }
    }
    .reservation-text {
        display: flex;
        justify-content: center;
        p {
            width: 50%;
            font-size: 1.5em;
            font-family: $font-family;
            .narrow-img {
                height: 25px;
                width: 120px;
                margin-left: 1%;
                margin-bottom: -10px;
            }
            .reservation-line-button {
                color: $black;
                right: 5%;
                font-family: $font-family;
                font-size: 1em;
            }
        }
        
    }
    .reservation-images {
        justify-content: center;
        height: 500px;
        display: flex;
        padding-top: 50px;
        img {
            height: 400px;
            width: 250px;
            transition: transform 0.3s ease-out;
            cursor: pointer;
        }
        .model-left, .model-right2 {
            transform: translate(0%, 10%);
        }
        .model-left2, .model-right {
            transform: translate(0%, -10%);
        }
        &:hover .model-left,
        &:hover .model-left2,
        &:hover .model-right,
        &:hover .model-right2 {
            transform: translate(0%, 0%);
        }
    }
}