@use "../container" as *;
@use "../variables" as *;

.reservation {
  .container {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 5em 0 5em 0;
    display: flex;
    flex-direction: column;
    position: relative;
    .reservation-header {
      width: 100%;
      h1 {
        width: 100%;
      }
    }
    .vector {
      position: absolute;
    }
    .vector1 {
      top: 0;
      left: 0;
    }
    .vector2 {
      bottom: 0;
      right: 0;
    }
    .reservation-text {
      display: flex;
      justify-content: center;
      p {
        width: 60%;
        font-size: 1.5em;
        font-family: $font-family;
        .narrow-img {
          height: 25px;
          width: 120px;
          margin-left: 1%;
          margin-bottom: -10px;
        }
        button {
          right: 5%;
          font-family: $font-family;
          font-size: 1em;
        }
      }

    }
    .reservation-images {
      justify-content: center;
      height: 500px;
      display: flex;
      padding-top: 5em;
      cursor: pointer;
      img {
        height: 400px;
        width: 250px;
        transition: transform 0.3s ease-out;
      }
      .model-left,
      .model-right2 {
        transform: translate(0%, 10%);
      }
      .model-left2,
      .model-right {
        transform: translate(0%, -10%);
      }
      &:hover .model-left,
      &:hover .model-left2,
      &:hover .model-right,
      &:hover .model-right2 {
        transform: translate(0%, 0%);
      }
    }
  }
}
