@use "../variables" as *;
@use "../container" as *;

.link {
  background-color: $white;
  color: $black;
  margin: 3em;
  font-family: $fontBody;
  padding: 1em;
  &.active {
    background-color: $main;
    color: $white;
  }
  &:hover {
    color: $black;
    background-color: $white;
    text-decoration: underline 2px $main;
    text-underline-offset: 0.5em;
    transition: 300ms ease;
    cursor: pointer;
  }
}
