@use "../variables" as *;

.container {
  width: 1440px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
    background-color: $black;
    columns: 2;
    padding: 30px;
}
