@use "../variables" as *;

.container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .MuiButton-root {
    color: $black;
    &:hover {
      background-color: $white;
      text-decoration: underline 2px $main;
      text-underline-offset: 0.5em;
    }
  }
}

.footer {
  background-color: $black;
  columns: 2;
  padding: 30px;
}
